<!-- iOS partials for default, check /merges/ for android and windows -->
<ion-tabs class="tabs-icon-top tabs-color-active-calm tabs-stable">
    <ion-tab title="PlanList" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/home">
        <ion-nav-view name="planList-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="History" icon-off="ion-ios-information-outline" icon-on="ion-ios-information" href="#/tab/actions">
        <ion-nav-view name="history-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Config" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/buttons">
        <ion-nav-view name="config-tab"></ion-nav-view>
    </ion-tab>
</ion-tabs>